@model Vaquinha.Domain.ViewModels.HomeViewModel
@using System.Globalization 

@{
    ViewData["Title"] = "Vaquinha online";
}

<div class="text-center">
    <h3>Vaquinha online</h3>

    <hr />

    <p>        
        <a asp-controller="Doacoes" asp-action="Create" class="btn btn-primary">
            <span></span>doar agora
        </a>
    </p>


    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ValorTotalArrecadado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorRestanteMeta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantidadeDoadores)
                </th>
                <th>
                    <span>Tempo Restante</span>
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Model.ValorTotalArrecadado.ToString("C", CultureInfo.CreateSpecificCulture("pt-BR"))
                </td>
                <td>
                    @Model.ValorRestanteMeta.ToString("C", CultureInfo.CreateSpecificCulture("pt-BR"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.QuantidadeDoadores)
                </td>
                <td>
                    <code>  @Model.TempoRestanteDias dias - @Model.TempoRestanteHoras horas - @Model.TempoRestanteMinutos minutos</code>
                </td>
            </tr>

        </tbody>
    </table>

    @if (Model.Doadores.Any())
    {
        <hr />

        <p>Quem já doou?<b><code>( ELI - ADICIONAR CAROUSEL AQUI )</code></b></p>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Valor</td>
                    <td>Mensagem de apoio</td>
                    <td>Quando?</td>
                </tr>
            </thead>
            @foreach (var item in Model.Doadores)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Valor.ToString("C", CultureInfo.CreateSpecificCulture("pt-BR"))</td>
                    <td>@item.MensagemApoio</td>
                    <td>@item.DescricaoTempo</td>
                </tr>
            }
        </table>
    }

    <hr />

    <p>Para onde vai minha doação? <b><code>( ELI - ADICIONAR CAROUSEL AQUI )</code></b></p>

    <table class="table table-bordered table-striped">        
        @foreach (var item in Model.Instituicoes)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cidade - @item.Estado</td>
            </tr>
        }
    </table>

</div>

@section scripts{

    <script type="text/javascript">

    </script>
}