@model Vaquinha.Domain.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Vaquinha OnLine DIO";
}

    <div class="text-center">
        <h1>Vaquinha OnLine DIO</h1>

        <hr />

        <p>
            <a asp-controller="Doacoes" asp-action="Create">Doe agora</a>
        </p>


        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ValorRestanteMeta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ValorTotalArrecadado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuantidadeDoadores)
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ValorRestanteMeta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ValorTotalArrecadado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.QuantidadeDoadores)
                    </td>
                </tr>

            </tbody>
        </table>

        <hr />

        <span>VEJA QUEM JÁ DOOU ( adicionar carousel aqui )</span>
        @foreach (var item in Model.Doadores)
        {
            <p>
                @Html.DisplayFor(a => item.Nome)
            </p>
        }

        <p>PARA ONDE VAI MINHA DOAÇÃO ( adicionar carousel aqui )</p>

        @foreach (var item in Model.Instituicoes)
        {
            <p>
                @Html.DisplayFor(a => item.Nome)
            </p>
        }

    </div>
