@model Vaquinha.Domain.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Vaquinha OnLine DIO";
}

<div class="text-center">
    <h1>Vaquinha OnLine</h1>

    <hr />

    <p>
        <a asp-controller="Doacoes" asp-action="Create">Doe agora</a>
    </p>


    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ValorRestanteMeta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorTotalArrecadado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantidadeDoadores)
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.ValorRestanteMeta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ValorTotalArrecadado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.QuantidadeDoadores)
                </td>
            </tr>

        </tbody>
    </table>

    @if (Model.Doadores.Any())
    {
        <hr />

        <p>Quem já doou</p>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Valor</td>
                    <td>Mensagem de apoio</td>
                    <td>Quando?</td>
                </tr>
            </thead>
            @foreach (var item in Model.Doadores)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Valor.ToString("C")</td>
                    <td>@item.MensagemApoio</td>
                    <td>@item.DescricaoTempo</td>
                </tr>
            }
        </table>
    }

    <hr />

    <p>Para onde vai minha doação?</p>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Instituicao</td>
                <td>Onde?</td>
            </tr>
        </thead>
        @foreach (var item in Model.Instituicoes)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cidade - @item.Estado</td>
            </tr>
        }
    </table>

</div>

@section scripts{

    <script type="text/javascript">

    </script>
}